// @use '../_variables/spacing';

@mixin l-container($container) {
  max-width: $container;
  margin-block: 0;
  margin-inline: auto;
}

@mixin l-padding($padding-ver, $padding-hoz) {
  padding-block: $padding-ver;
  padding-inline: $padding-hoz;
}
