// gallery
@use './_portfolioItem';
@use './_portfolioContact';

// @use '/src/scss/_variables/_colors' as c;
@use '/src/styles/_variables/_spacings' as s;
@use '/src/styles/core/_layoutMixins' as lm;

.portfolio {
  &__header {
    background-color: var(--header-color);
    color: var(--header-color-inverted);
    text-align: center;
  }

  &__header-inner {
    @include lm.l-container(s.$device-md);
    @include lm.l-padding(s.$header-padding-ver, s.$header-padding-hoz);
  }

  &__header-title-inner {
    margin: 0;
  }

  &__container {
    background-color: var(--wrapper-color);
  }

  &__container-inner {
    @include lm.l-container(s.$device-md);
    @include lm.l-padding(s.$component-padding-ver, s.$component-padding-hoz);
  }

  &__container-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__container-list-item {
    width: 100%;
    padding-block-end: s.$item-padding;

    @media (min-width: s.$device-sm) {
      width: 50%;
      padding: calc(s.$item-padding / 2);
    }
  }

  &__container-list-item:last-child {
    padding-block-end: 0;

    @media (min-width: s.$device-sm) {
      padding-block-end: calc(s.$item-padding / 2);
    }
  }

  &__container.items-are-third-width &__container-list-item {
    @media (min-width: s.$device-sm) {
      width: 33.33333%;
    }
  }
}
