// @use '/src/scss/_variables/_colors' as c;
@use '/src/styles/_variables/_spacings' as s;
@use '/src/styles/core/_layoutMixins' as lm;

.home {
  background-color: var(--wrapper-color);

  &__header {
    background-color: var(--header-color);
    color: var(--header-color-inverted);
  }

  &__header-inner {
    @include lm.l-container(s.$device-md);
    @include lm.l-padding(s.$header-padding-ver, s.$header-padding-hoz);

    display: flex;
    align-items: center;
  }

  &__header-info {
    padding-inline-start: 1rem;
  }

  &__header-title-inner,
  &__header-subtitle-inner {
    margin: 0;
  }

  &__header-profile {
    width: 40%;
  }

  &__header-info {
    width: 60%;
  }

  &__header-profile-image {
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .25);
  }

  &__container-inner {
    @include lm.l-container(s.$device-md);
    @include lm.l-padding(s.$component-padding-ver, s.$component-padding-hoz);
  }

  &__container-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__container-list-item {
    width: 100%;
    padding-block-end: s.$item-padding;

    @media (min-width: s.$device-sm) {
      width: 50%;
      padding: calc(s.$item-padding / 2);
    }
  }

  &__container-list-item:last-child {
    padding-block-end: 0;

    @media (min-width: s.$device-sm) {
      padding-block-end: calc(s.$item-padding / 2);
    }
  }

  &__container-list-item-image {
    display: block;
    border: 1px solid black;
  }
}
