// @use '/src/scss/_variables/_colors' as c;
@use '/src/styles/_variables/_spacings' as s;
@use '/src/styles/core/_fontMixins' as fm;
@use '/src/styles/core/_layoutMixins' as lm;

.nav {
  background-color: var(--nav-color);
  color: var(--nav-color-inverted);

  box-shadow: 0px 2px 10px 0px rgba(0,0,0,.25);
  position: fixed;
  top: 0;
  width: 100%;

  &__inner {
    @include lm.l-container(s.$device-md);
    @include lm.l-padding(s.$nav-padding-ver, s.$nav-padding-hoz);

    display: flex;
    align-items: center;
  }

  &__logo {
    width: 2.5rem;
    margin-inline-end: .5rem;
  }

  &__link {
    display: inline-flex;
    color: inherit;

    padding: .5rem;
    border-radius: .5rem;
    background-color: var(--nav-color);
    fill: var(--nav-color-inverted);
    box-shadow: 0 0 0 1px var(--nav-color-inverted);
  }
}
