@use '/src/styles/_variables/_spacings' as s;
@use '/src/styles/_variables/_transitions' as t;
@use '/src/styles/core/_fontMixins' as fm;
@use '/src/styles/core/_layoutMixins' as lm;

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: s.$nav-height;
  z-index: 100;
  background-color: var(--nav-color);
  color: var(--nav-color-inverted);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .25);

  &__inner {
    @include lm.l-container(s.$device-md);
    @include lm.l-padding(s.$nav-padding-ver, s.$nav-padding-hoz);
    display: flex;
    align-items: center;
  }

  &__logo {
    width: calc(s.$icon-size + (s.$icon-padding * 2));
    padding: s.$icon-padding;
  }

  &__link {
    @include fm.nav-title;
    margin: calc(s.$nav-margin-block / 2) calc(s.$nav-margin-inline / 2);
    padding: calc(s.$nav-padding-ver / 2) calc(s.$nav-padding-hoz / 2);
    color: inherit;
    text-decoration: none;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0);

    .no-touch &:hover {
      box-shadow: 0 1px 0 0 var(--nav-color-inverted);
      transition: box-shadow t.$duration ease-in,
    }
  }

  &__link.active {
    box-shadow: 0 1px 0 0 var(--nav-color-inverted);
  }
}
