@use '/src/styles/_variables/_spacings' as s;
@use '/src/styles/core/_buttonMixins' as bm;

.tenzies-dice {
  @include bm.btn;
  @include bm.btn-color;
  cursor: pointer;

  margin: s.$btn-margin;

  height: 2.5rem;
  width: 2.5rem;
}
