@use './_dice';

// @use '/src/scss/_variables/_colors' as c;
@use '/src/styles/_variables/_spacings' as s;
@use '/src/styles/core/_layoutMixins' as lm;
@use '/src/styles/core/_buttonMixins' as bm;

.tenzies {
  &__container {
    background-color: var(--wrapper-color);
  }

  &__container-inner {
    @include lm.l-container(s.$device-md);
    @include lm.l-padding(s.$component-padding-ver, s.$component-padding-hoz);

    display: flex;
    flex-direction: column;
    align-items: center;
  }



  &__button {
    @include bm.btn;
    @include bm.btn-color;
    cursor: pointer;
  }
}
